[Unit]
Description=Leosac daemon
Documentation=https://github.com/leosac/leosac
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/leosac -k /etc/leosac.d/kernel.xml
WorkingDirectory=/etc/leosac.d

[Install]
WantedBy=default.target
