!.gitignore

#Ryp custom
*.kdev4*
*.bak

#CMake related
build
install
!/pkg/debian/install

#IDE workspace stuff
.idea/workspace.xml

## This is generated Doxygen doc.
## Or files attached to release
doc/output

## IDE stuff
.idea/dictionaries/*

# For now we don't care about ODB xml file.
# Later we'll need them tho.
src/*/*/*.xml

# Python cache
**/__pycache__
