[submodule "libmcp23s17"]
	path = libmcp23s17
	url = https://github.com/piface/libmcp23s17.git
[submodule "libpifacedigital"]
	path = libpifacedigital
	url = https://github.com/xaqq/libpifacedigital.git
[submodule "zmqpp"]
	path = zmqpp
	url = https://github.com/xaqq/zmqpp.git
