!.gitignore

#Ryp custom
*.kdev4*
*.bak

#CMake related
build/
install/

#Debian
debian/
obj-*/

#IDE workspace stuff
.idea/workspace.xml

## This is generated Doxygen doc.
## Or files attached to release
doc/output

## IDE stuff
.idea/dictionaries/*

# For now we don't care about ODB xml file.
# Later we'll need them tho.
src/*/*/*.xml

# Python cache
**/__pycache__
python/leosacpy.egg-info/

# Don't track the cross compile folder
cross-compile-resources
