[submodule "libmcp23s17"]
	path = deps/libmcp23s17
	url = https://github.com/piface/libmcp23s17.git
[submodule "libpifacedigital"]
	path = deps/libpifacedigital
	url = https://github.com/xaqq/libpifacedigital.git
[submodule "zmqpp"]
	path = deps/zmqpp
	url = https://github.com/zeromq/zmqpp.git
[submodule "spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "websocketpp"]
	path = deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/flagset"]
	path = deps/flagset
	url = https://github.com/xaqq/flagset.git
