Source: leosac
Maintainer: Arnaud Kapp <kapp.arno@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), cmake, libtclap-dev, libboost-serialization-dev, g++ (>= 4.8)

Package: leosac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-serialization1.49.0, libtclap-dev
Description: open source access control
