#!/usr/bin/make -f

_INSTALL_PATH = $$(pwd)/debian/leosac

%:
	dh $@

override_dh_shlibdeps:
	# Should disable error against libzmq not being installed
	# from package (which we can't yet)
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_configure:
	dh_auto_configure -- -DLEOSAC_PLATFORM=None -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	install -m 755 -d "$(_INSTALL_PATH)/etc/init.d"
	install -m 755 -t "$(_INSTALL_PATH)/etc/init.d"                 \
		"pkg/deb/leosacd"
	install -m 755 -d "$(_INSTALL_PATH)/etc/leosac.d"
	install -m 755 -d "$(_INSTALL_PATH)/etc/leosac.d/factory"

	install -m 644 -t "$(_INSTALL_PATH)/etc/leosac.d/factory"       \
		"cfg/factory/kernel.xml" \
		"cfg/factory/README.md"     \
