<?xml version="1.0"?>
<kernel>
    <plugin_directories>
        <plugindir>.</plugindir>
    </plugin_directories>

    <modules>
        <module>
            <name>STDIN</name>
            <file>libstdin-controller.so</file>
            <level>40</level>
        </module>

        <module>
            <name>AUTH-MANAGER-FILE</name>
            <file>libauth-file.so</file>
            <level>41</level>

            <module_config>
                <instances>
                    <!-- Multiple authentication instance are allowed -->
                    <instance>
                        <name>AUTH_CONTEXT_1</name>

                        <!-- Device we watch as input source -->
                        <auth_source>MY_WIEGAND_1</auth_source>
                                <!-- File that contains (1 per line) the textual data that is valid.
With a wiegand reader, it could be something like this "ab:0f:fa:12" -->
                        <valid_input_file>valid-cards.txt</valid_input_file>
                    </instance>

                    <instance>
                        <name>AUTH_CTX_2</name>
                        <auth_source>MY_WIEGAND_2</auth_source>
                        <valid_input_file>alternative-cards.txt</valid_input_file>
                    </instance>
                </instances>
            </module_config>
        </module>

        <module>
            <!-- Doorman module: react to authentication broadcast -->
            <name>DOORMAN</name>
            <file>libdoorman.so</file>
            <level>50</level>

            <module_config>
                <instances>
                    <instance>
                        <name>DOORMAN_JARVIS_1</name>
                        <auth_contexts>
                            <auth_context>
                                <name>AUTH_CONTEXT_1</name>
                            </auth_context>
                        </auth_contexts>
                        <!-- If multiple auth context, this is the maximum delay we use to "match together" auth event -->
                        <timeout>1000</timeout>
                        <actions>
                            <action>
                                <on>DENIED</on>
                                <target>wiegand_buzzer</target>
                                <cmd>
                                    <f1>ON</f1>
                                    <f2>500</f2>
                                </cmd>
                            </action>
                            <action>
                                <on>GRANTED</on>
                                <target>MY_WIEGAND_1</target>
                                <cmd>
                                    <f1>GREEN_LED</f1>
                                    <f2>ON</f2>
                                    <f3>1500</f3>
                                </cmd>
                            </action>
                            <action>
                                <on>DENIED</on>
                                <target>MY_LED</target>
                                <cmd>
                                    <f1>BLINK</f1>
                                </cmd>
                            </action>
                        </actions>
                    </instance>
                    <instance>
                        <name>DOORMAN_2</name>
                        <auth_contexts>
                            <auth_context>
                                <name>AUTH_CTX_2</name>
                            </auth_context>
                        </auth_contexts>
                        <!-- If multiple auth context, this is the maximum delay we use to "match together" auth event -->
                        <timeout>1000</timeout>
                        <actions>
                            <action>
                                <on>GRANTED</on>
                                <target>YELLOW_LED</target>
                                <cmd>
                                    <f1>TOGGLE</f1>
                                </cmd>
                            </action>
                            <action>
                                <on>DENIED</on>
                                <target>RED</target>
                                <cmd>
                                    <f1>ON</f1>
                                    <f2>2000</f2>
                                </cmd>
                            </action>
                        </actions>
                    </instance>
                </instances>
            </module_config>
        </module>

        <!--
                <module>
                    <name>BENCH</name>
                    <file>libbench-toggle.so</file>

                    <module_config>
                      <iterations>100</iterations>
                      <target>YELLOW</target>
                      <pause>500</pause>
                    </module_config>
                </module>
                -->
        <module>
            <name>MONITOR</name>
            <file>libpersistent-monitor.so</file>
            <level>1</level>

            <module_config>
                <file>MY_LOGS.txt</file>
                <verbose>false</verbose>
            </module_config>
        </module>

        <module>
            <name>PIFACE-GPIO</name>
            <file>libpifacedigital.so</file>
            <level>2</level>

            <module_config>
                <gpios>
                    <gpio>
                        <name>RED</name>
                        <no>4</no>
                        <direction>out</direction>
                        <value>false</value>
                    </gpio>

                    <gpio>
                        <name>YELLOW_LED_GPIO</name>
                        <no>7</no>
                        <direction>out</direction>
                        <value>false</value>
                    </gpio>

                    <gpio>
                        <name>wiegand_green</name>
                        <no>3</no>
                        <direction>out</direction>
                        <value>false</value>
                    </gpio>

                    <gpio>
                        <name>wiegand_buzzer</name>
                        <no>2</no>
                        <direction>out</direction>
                        <value>false</value>
                    </gpio>

                    <!-- Prepare GPIO for our Wiegand reader -->
                    <gpio>
                        <name>wiegand_data_high</name>
                        <no>0</no>
                        <direction>in</direction>
                    </gpio>
                    <gpio>
                        <name>wiegand_data_low</name>
                        <no>2</no>
                        <direction>in</direction>
                    </gpio>

                    <gpio>
                        <name>wiegand2_data_high</name>
                        <no>4</no>
                        <direction>in</direction>
                    </gpio>
                    <gpio>
                        <name>wiegand2_data_low</name>
                        <no>5</no>
                        <direction>in</direction>
                    </gpio>

                </gpios>
            </module_config>
        </module>

        <module>
            <name>rpleth</name>
            <file>librpleth.so</file>
            <level>100</level>
            <module_config>
                <port>4242</port>
                <reader>MY_WIEGAND_1</reader>
            </module_config>
        </module>

        <module>
            <name>led</name>
            <file>libled.so</file>
            <level>3</level>
            <module_config>
                <leds>
                    <led>
                        <name>YELLOW_LED</name>
                        <gpio>YELLOW_LED_GPIO</gpio>
                        <default_blink_duration>5000</default_blink_duration>
                        <default_blink_speed>1000</default_blink_speed>
                    </led>
                    <led>
                        <name>MY_LED</name>
                        <gpio>RED</gpio>
                        <default_blink_duration>5000</default_blink_duration>
                        <default_blink_speed>1000</default_blink_speed>
                    </led>

                    <led>
                        <name>WIEGAND1_GREEN_LED</name>
                        <gpio>wiegand_green</gpio>
                        <default_blink_duration>2000</default_blink_duration>
                        <default_blink_speed>100</default_blink_speed>
                    </led>

                    <led>
                        <name>WIEGAND1_BUZZER</name>
                        <gpio>wiegand_buzzer</gpio>
                        <default_blink_duration>2000</default_blink_duration>
                        <default_blink_speed>100</default_blink_speed>
                    </led>
                </leds>
            </module_config>
        </module>

        <module>
            <name>WIEGAND</name>
            <file>libwiegand.so</file>
            <level>5</level>

            <module_config>
                <readers>
                    <reader>
                        <name>MY_WIEGAND_1</name>
                        <high>wiegand_data_high</high>
                        <low>wiegand_data_low</low>
                        <green_led>WIEGAND1_GREEN_LED</green_led>
                        <buzzer>WIEGAND1_BUZZER</buzzer>
                    </reader>
                    <!--
                    <reader>
                        <name>MY_WIEGAND_2</name>
                        <high>wiegand2_data_high</high>
                        <low>wiegand2_data_low</low>
                    </reader>
-->
                </readers>
            </module_config>
        </module>

        <module>
            <name>ResetWatcher</name>
            <file>libtest-and-reset.so</file>
            <level>101</level>
            <module_config>
                <devices>
                    <device>
                        <name>MY_WIEGAND_1</name>
                        <reset_card>40:a0:83:80</reset_card>
                    </device>
                </devices>
            </module_config>
        </module>
    </modules>

</kernel>