<?xml version="1.0"?>
<kernel>
    <plugin_directories>
        <plugindir>.</plugindir>
    </plugin_directories>

    <modules>
        <module>
            <name>STDIN</name>
            <file>libstdin-controller.so</file>
            <level>40</level>
        </module>

        <module>
            <name>AUTH-MANAGER-FILE</name>
            <file>libauth-file.so</file>
            <level>41</level>

            <module_config>
                <instances>
                    <!-- Multiple authentication instance are allowed -->
                    <instance>
                        <name>AUTH_CONTEXT_1</name>

                        <!-- Device we watch as input source -->
                        <auth_source>MY_WIEGAND_1</auth_source>
                                <!-- File that contains (1 per line) the textual data that is valid.
With a wiegand reader, it could be something like this "ab:0f:fa:12" -->
                        <valid_input_file>valid-cards.txt</valid_input_file>
                    </instance>
                </instances>
            </module_config>
        </module>

        <module>
            <!-- Doorman module: react to authentication broadcast -->
            <name>DOORMAN</name>
            <file>libdoorman.so</file>
            <level>50</level>

            <module_config>
                <instances>
                    <instance>
                        <name>DOORMAN_JARVIS_1</name>
                        <auth_contexts>
                            <auth_context>
                                <name>AUTH_CONTEXT_1</name>
                            </auth_context>
                        </auth_contexts>
                        <!-- If multiple auth context, this is the maximum delay we use to "match together" auth event -->
                        <timeout>1000</timeout>
                        <actions>
                            <action>
                                <on>GRANTED</on>
                                <target>YELLOW</target>
                                <!--
                                <cmd>
                                    <f1>TOGGLE</f1>
                                </cmd> -->
                                <cmd>
                                    <f1>ON</f1>
                                    <f2>3000</f2>
                                </cmd>
                            </action>
                        </actions>

                    </instance>
                </instances>
            </module_config>
        </module>

        <!--
                <module>
                    <name>BENCH</name>
                    <file>libbench-toggle.so</file>

                    <module_config>
                      <iterations>100</iterations>
                      <target>YELLOW</target>
                      <pause>500</pause>
                    </module_config>
                </module>
                -->
        <module>
            <name>MONITOR</name>
            <file>libpersistent-monitor.so</file>
            <level>1</level>

            <module_config>
                <file>MY_LOGS.txt</file>
                <verbose>true</verbose>
            </module_config>
        </module>


        <module>
            <name>PIFACE-GPIO</name>
            <file>libpifacedigital.so</file>
            <level>2</level>

            <module_config>
                <gpios>
                    <gpio>
                        <name>YELLOW</name>
                        <no>7</no>
                        <direction>out</direction>
                    </gpio>

                    <!-- Prepare GPIO for our Wiegand reader -->
                    <gpio>
                        <name>wiegand_data_high</name>
                        <no>0</no>
                        <direction>in</direction>
                    </gpio>
                    <gpio>
                        <name>wiegand_data_low</name>
                        <no>2</no>
                        <direction>in</direction>
                    </gpio>

                </gpios>
            </module_config>
        </module>

        <module>
            <name>WIEGAND</name>
            <file>libWIEGAND.so</file>
            <level>5</level>

            <module_config>
                <readers>
                    <reader>
                        <name>MY_WIEGAND_1</name>
                        <high>wiegand_data_high</high>
                        <low>wiegand_data_low</low>
                    </reader>
                </readers>
            </module_config>
        </module>

    </modules>

</kernel>