<?xml version="1.0"?>
        <kernel>
    <plugin_directories>
        <plugindir>.</plugindir>
    </plugin_directories>

    <modules>
        <module>
            <name>STDIN</name>
            <file>libstdin-controller.so</file>
        </module>
<!--
        <module>
            <name>BENCH</name>
            <file>libbench-toggle.so</file>

            <module_config>
              <iterations>100</iterations>
              <target>YELLOW</target>
              <pause>500</pause>
            </module_config>
        </module>

        <module>
            <name>MONITOR</name>
            <file>libpersistent-monitor.so</file>

            <module_config>
                <file>MY_LOGS.txt</file>
                <verbose>true</verbose>
            </module_config>
        </module>
        -->

        <module>
            <name>PIFACE-GPIO</name>
            <file>libpifacedigital.so</file>

            <module_config>
                <gpios>
                    <gpio>
                        <name>YELLOW</name>
                        <no>7</no>
                        <direction>out</direction>
                    </gpio>

                    <!-- Prepare GPIO for our Wiegand reader -->
                    <gpio>
                        <name>wiegand_data_high</name>
                        <no>0</no>
                        <direction>in</direction>
                    </gpio>
                    <gpio>
                        <name>wiegand_data_low</name>
                        <no>2</no>
                        <direction>in</direction>
                    </gpio>

                </gpios>
            </module_config>
        </module>

        <module>
            <name>WIEGAND</name>
            <file>libwiegand.so</file>
            <module_config>
                <readers>
                    <reader>
                        <name>W1</name>
                        <high>wiegand_data_high</high>
                        <low>wiegand_data_low</low>
                    </reader>
                </readers>
            </module_config>
        </module>

    </modules>

</kernel>